extends layout

block content
  .row
    h2.sub-header Overview
    .table-responsive
      table.table.table-striped
        thead
          tr
            th #
            th 日期
            th 讀經進度
            th 今日心得
            
        tbody
          tr
            td 1
            td Lorem
            td elit
            td 1/9