extends layout

block content

  .container
      #myModal.modal.fade(role='dialog')
        .modal-dialog
          .modal-content
            .modal-header
              button.close(type='button', data-dismiss='modal') &times;
              h4.modal-title 圖片轉文字
            .modal-body
              input#uploadBtn(type='file')
              br
              img#previewImg(src='', height='500', alt='Image preview...')
            .modal-footer
              button.btn.btn-default(type='button', data-dismiss='modal') Close

  .row
    h2.sub-header 新增進度
    form
      fieldset
        .form-group
          label 日期
          input#myDate.form-control(type='date', placeholder='選擇日期')

        .form-inline
          .form-group
            label 讀經進度
            select#bibleName.form-control
            select#chapter.form-control
              - for(var i=0; i<50; i++) 
                option= i+1
            label 章
            select#section.form-control
              - for(var i=0; i<31; i++) 
                option= i+1
            label 節
            label ~
            select#bibleName2.form-control
            select#chapter2.form-control
              - for(var i=0; i<50; i++) 
                option= i+1
            label 章
            select#section2.form-control
              - for(var i=0; i<31; i++) 
                option= i+1
            label 節
        
        .form-group
          label 今日心得
          button.btn.btn-info.btn-lg(type='button', data-toggle='modal', data-target='#myModal') 圖片轉文字
          textarea#content.form-control(type='text', placeholder='輸入今日心得', rows=10)
    button#sendBtn.btn.btn-primary Send
    script(src='/javascripts/insert.js')