extends layout

block content
  .row
    h2.sub-header 新增進度
    form
      fieldset
        .form-group
          label 日期
          input.form-control(type='date', placeholder='選擇日期')

        .form-inline
          .form-group
            label 讀經進度
            select#bibleName.form-control
            select#chapter.form-control
              - for(var i=0; i<50; i++) 
                option= i+1
            label 章
            select#section.form-control
              - for(var i=0; i<31; i++) 
                option= i+1
            label 節
            label ~
            select#bibleName2.form-control
            select#chapter2.form-control
              - for(var i=0; i<50; i++) 
                option= i+1
            label 章
            select#section2.form-control
              - for(var i=0; i<31; i++) 
                option= i+1
            label 節
        
        .form-group
          label 今日心得
          textarea.form-control(type='text', placeholder='輸入今日心得', rows=10)
        button.btn.btn-primary Send
    script(src='/javascripts/insert.js')