doctype html
html
  head
    title FaceBible
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='author', content='高宇哲')
    link(href='/stylesheets/bootstrap.min.css', rel='stylesheet')
    link(href='/stylesheets/metisMenu.min.css', rel='stylesheet')
    link(href='/stylesheets/sb-admin-2.css', rel='stylesheet')
    link(href='/stylesheets/font-awesome.min.css', rel='stylesheet', type='text/css')
    
  body

    #wrapper
      nav.navbar.navbar-default.navbar-static-top(role='navigation', style='margin-bottom: 0')
        include ./library/pug/header.pug
        .navbar-default.sidebar(role='navigation')
          .sidebar-nav.navbar-collapse
            include ./library/pug/sideBar.pug

      #page-wrapper
        block content

    script(src='/javascripts/jquery.min.js')
    script(src='/javascripts/bootstrap.min.js')
    script(src='/javascripts/holder.min.js')
    script(src='/javascripts/ie10-viewport-bug-workaround.js')
    script(src='/javascripts/bootstrap-waitingfor.min.js')
    script(src='/javascripts/metisMenu.min.js')
    script(src='/javascripts/sb-admin-2.js')
