ul#side-menu.nav
    li
        a(href='#')
            i.fa.fa-bar-chart-o.fa-fw 
            | Overview
    li
        a(href='/')
            i.fa.fa-table.fa-fw
            | 讀經進度
    li
        a(href='/insert')
            i.fa.fa-edit.fa-fw
            | 新增進度
    li
        a(href='#')
            i.fa.fa-user.fa-fw
            | 帳戶資訊